body > #root{
  height: 100%;
}
body > #root > div{
  height: 100%;
}
.landing-image {
  background-image: url("./images/image.png") !important;
  background-size: cover !important;
  height: 100% !important;
}
.workborder {
  width: 500px !important;
  box-shadow: 0 0 0 0 #1b1c1d !important;
  padding: 0 0 0 0 !important;
}
.myOverflow {
  overflow: auto !important;
  overflow-y: hidden !important;
  height: auto !important;
}

.list .myOverflow {
  margin-left: 0em !important;
  margin-right: 0em !important;
}

.pushable:not(body) {
  transform: none;
}
.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
  position: fixed;
}

@media screen and (max-width: 820px) {
  .tab-overflow .menu {
    overflow: auto;
  }
  .tab-overflow .menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  .tab-overflow .menu::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background-color: #f5f5f5;
  }
  .tab-overflow .menu::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
}

/* grid stackable */
@media only screen and (max-width: 767px) {
  .ui.grid > .stackable.stackable.row > .column,
  .ui.stackable.grid > .column.grid > .column,
  .ui.stackable.grid > .column.row > .column,
  .ui.stackable.grid > .column:not(.row),
  .ui.stackable.grid > .row > .column,
  .ui.stackable.grid > .row > .wide.column,
  .ui.stackable.grid > .wide.column {
    width: 100% !important;
    margin: 0 0 !important;
    box-shadow: none !important;
    padding: 1rem 0rem !important;
  }
}

@media screen and (max-width: 630px) {
  .page-title {
    padding: 2.5em 0em !important;
  }
}
